#sidebar_main .sidebar_main_header {
    background-color: #1C8997;
}

.app_theme .uk-alert {
    background: #1EA0B0;
}

.app_theme .md-btn-primary,
.app_theme .md-btn-primary:hover,
.app_theme .md-btn-primary:focus,
.app_theme .md-btn-primary:active {
    background: #1C8997;
    color: white;
}

.app_theme .md-btn-flat-primary,
.app_theme .md-btn-flat-primary:hover,
.app_theme .md-btn-flat-primary:focus,
.app_theme .md-btn-flat-primary:active {
    color: #1EA0B0;
}

    .app_theme .md-btn-flat-primary:hover,
    .app_theme .md-btn-flat-primary:focus,
    .app_theme .md-btn-flat-primary:active {
        background: #ffffff;
    }

.app_theme .uk-badge-primary {
    background: #1EA0B0;
}

.app_theme .md-card-list-wrapper .md-card-list > ul > li.item-shown.md-card-list-item-selected:before {
    background: #72bcd4;
}

.app_theme .md-card-list-wrapper .md-card-list .md-card-list-item-selected {
    background: #72bcd4;
}

    .app_theme .md-card-list-wrapper .md-card-list .md-card-list-item-selected.item-shown {
        background: white;
    }

        .app_theme .md-card-list-wrapper .md-card-list .md-card-list-item-selected.item-shown:before {
            background: #72bcd4;
        }

.app_theme .md-fab.md-fab-accent {
    background: #7cb342;
}

.app_theme .md-list .uk-nestable-list > li.md-list-item-active,
.app_theme .md-list > li.md-list-item-active {
    color: #7cb342;
}

.app_theme .md-list-addon > li.md-list-item-active .md-list-addon-element,
.app_theme .md-list-addon > li.md-list-item-active .md-list-addon-element .material-icons {
    color: #7cb342;
}

.app_theme .uk-pagination > li > a:hover {
    background: #c8e1ad;
}

.app_theme .uk-pagination > li.uk-active > a,
.app_theme .uk-pagination > li.uk-active > span {
    background: #7cb342;
    color: white;
}

.app_theme .uk-subnav-pill > .uk-active > * {
    background: #7cb342;
}

.app_theme .uk-tab > li > a:hover,
.app_theme .uk-tab > li > a:focus {
    border-bottom-color: #7edde9;
}

.app_theme .uk-tab > li.uk-active > a {
    border-bottom-color: #1EA0B0;
}

.app_theme .uk-tab-bottom li > a:hover,
.app_theme .uk-tab-bottom li > a:focus {
    border-top-color: #7edde9;
}

.app_theme .uk-tab-bottom li.uk-active > a {
    border-top-color: #1EA0B0;
}

.app_theme .uk-tab-left li > a:hover,
.app_theme .uk-tab-left li > a:focus {
    border-right-color: #7edde9;
}

.app_theme .uk-tab-left li.uk-active > a {
    border-right-color: #1EA0B0;
}

.app_theme .uk-tab-right li > a:hover,
.app_theme .uk-tab-right li > a:focus {
    border-left-color: #7edde9;
}

.app_theme .uk-tab-right li.uk-active > a {
    border-left-color: #1EA0B0;
}

.app_theme .uk-tab-double-header li a:hover,
.app_theme .uk-tab-double-header li a:focus {
    border-bottom-color: #27c7da;
}

.app_theme .uk-tab-double-header li.uk-active > a {
    border-bottom-color: #7cb342;
}

.app_theme #header_main {
    background: #1EA0B0;
}

.app_theme .header_double_height:after {
    background: #1EA0B0;
}

.app_theme #top_bar .top_bar_nav > li > a:hover {
    box-shadow: inset 0 -3px 0 #1EA0B0;
}

.app_theme #top_bar .top_bar_nav > li.uk-active a {
    box-shadow: inset 0 -3px 0 #1EA0B0;
}

.app_theme .user_heading {
    background: #1C8997;
}

.app_theme #sidebar_main .menu_section > ul > li ul li.act_item a {
    color: #1C8997;
}

.app_theme #sidebar_main .menu_section > ul > li.current_section > a > .menu_icon .material-icons {
    color: #1C8997;
}

.app_theme #sidebar_main .menu_section > ul > li.current_section > a .menu_title {
    color: #1C8997;
}

.app_theme .sidebar_mini #sidebar_main .menu_section > ul > li > a > .menu_title {
    background: #7cb342;
    color: white;
}

.app_theme .sidebar_mini #sidebar_main .menu_section > ul > li:hover.sidebar_submenu {
    background: #7cb342;
}

    .app_theme .sidebar_mini #sidebar_main .menu_section > ul > li:hover.sidebar_submenu > a .menu_icon .material-icons {
        color: white;
    }

    .app_theme .sidebar_mini #sidebar_main .menu_section > ul > li:hover.sidebar_submenu ul {
        border-left-color: #7cb342;
    }

.app_theme .sidebar_mini #sidebar_main .menu_section > ul > li.current_section > a > .menu_icon .material-icons {
    color: #7cb342;
}

.app_theme .clndr .clndr_days .clndr_days_grid .day.today > span {
    background: #7cb342;
}

.app_theme .DTTT_print_info h6 {
    color: #7cb342;
}

.app_theme .fc-unthemed .fc-button.fc-state-active:after {
    color: #7cb342;
}

.app_theme .fc-unthemed .fc-highlight {
    box-shadow: inset 0 0 0 2px #1EA0B0, inset 0 -1px 0 2px #1EA0B0;
}

.app_theme .tablesorter-altair tbody > tr.row_highlighted > td {
    background: #72bcd4;
}

.app_theme .tablesorter-altair .headerSortUp,
.app_theme .tablesorter-altair .tablesorter-headerSortUp,
.app_theme .tablesorter-altair .tablesorter-headerAsc,
.app_theme .tablesorter-altair .headerSortDown,
.app_theme .tablesorter-altair .tablesorter-headerSortDown,
.app_theme .tablesorter-altair .tablesorter-headerDesc {
    color: #7cb342;
}

.app_theme .wizard > .steps {
    background: #1EA0B0;
}

    .app_theme .wizard > .steps > ul > li.current a,
    .app_theme .wizard > .steps > ul > li.current a:hover,
    .app_theme .wizard > .steps > ul > li.current a:active {
        background: #27c7da;
    }

    .app_theme .wizard > .steps > ul > li.done a,
    .app_theme .wizard > .steps > ul > li.done a:hover,
    .app_theme .wizard > .steps > ul > li.done a:active {
        background: #1C8997;
    }

.app_theme .md-card-primary {
    border-left-color: #1EA0B0;
}

.app_theme .waves-effect.md-btn-flat-primary {
    background: none;
}

    .app_theme .waves-effect.md-btn-flat-primary .waves-ripple {
        background: rgba(30,160,176,0.4);
    }

.app_theme .search_list_link {
    color: #7cb342;
}

.app_theme .chatbox.cb_active .chatbox_header {
    background: #1C8997;
}

.app_theme .chatbox_content .chatbox_message.own .chatbox_message_content li > span {
    background: #1EA0B0;
}

.md-preloader svg circle {
    stroke: #7cb342;
}

.md-stroke-primary {
    stroke: #1EA0B0;
}

.md-stroke-light {
    stroke: #72bcd4;
}

.md-stroke-dark {
    stroke: #1C8997;
}

.md-stroke-accent {
    stroke: #7cb342;
}

.md-bg-primary {
    background-color: #1EA0B0;
}

.md-bg-light {
    background-color: #72bcd4;
}

.md-bg-dark {
    background-color: #1C8997;
}

.md-bg-accent {
    background-color: #7cb342;
}

.md-color-primary {
    color: #1EA0B0;
}

.md-color-light {
    color: #72bcd4;
}

.md-color-dark {
    color: #1C8997;
}

.md-color-accent {
    color: #7cb342;
}

.md-color-black {
    color: #3B3A3A !important;
}

.md-bg-black {
    background: #3B3A3A !important;
}

.md-btn-accent:not(.disabled) {
    background: #7cb342 !important;
    color: white;
}

.md-btn-dark:not(.disabled) {
    background: #1C8997 !important;
    color: white;
}

.md-btn-continue:not(.disabled) {
    background: #1EA0B0 !important;
    color: white;
}

.md-btn-light:not(.disabled) {
    background: #72bcd4 !important;
    color: white;
}

.md-btn-mini:not(.disabled) {
    line-height: 19px !important;
    min-width: 10px;
    font-size: 9px !important;
    min-height: 21px;
    padding: 2px 10px !important;
}

    .md-btn-mini:not(.disabled) + .md-btn {
        margin-left: 0px !important;
    }

.md-btn-clearStyle {
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    cursor: pointer;
    outline: inherit !important;
}

.dotnavSigaf a {
    background: #72bcd4 !important;
    color: white;
}

    .dotnavSigaf a:focus,
    .dotnavSigaf a.uk-active {
        background: #1C8997 !important;
        color: white;
    }

.k-calendar td.k-state-selected {
    background-color: #7cb342;
}

    .k-calendar td.k-state-selected.k-state-hover {
        background-color: #7cb342;
        opacity: 0.7;
    }

.k-calendar .k-footer .k-nav-today {
    color: #3c6000;
}

.k-calendar .k-header {
    background-color: #1C8997;
}

    .k-calendar .k-header .k-state-hover {
        background-color: #1C8997;
        opacity: 0.7;
    }

.k-calendar .k-today {
    background-color: #1EA0B0;
}

    .k-calendar .k-today.k-state-hover {
        background-color: #1EA0B0;
        opacity: 0.7;
    }

.form_hr {
    margin: 30px 0 16px;
}

.uk-tooltip {
    max-width: 500px;
}

.md-preloader svg circle {
    stroke: #7cb342;
}
