<?xml version="1.0"?>
<connectionStrings>
	<add name="RCF" connectionString="User Id=rcf; Password=rcfteso2; 
      Data Source=10.50.90.116:1521/PRODUC;
      Pooling=true;
      Enlist=false;
      Statement Cache Size=50;
      Min Pool Size=5;
      Incr Pool Size=2;
      Decr Pool Size=1;" providerName="Oracle.DataAccess.Client" />
</connectionStrings>