<?xml version="1.0"?>
<connectionStrings>
	<add name="RCF" connectionString={connection to your database};
      Pooling=true;
      Enlist=false;
      Statement Cache Size=50;
      Min Pool Size=5;
      Incr Pool Size=2;
      Decr Pool Size=1;" providerName="Oracle.DataAccess.Client" />
</connectionStrings>