<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<!-- Tag de configuracion que asocia el Hibernate con El repositorio donde se encuentra el modelo -->
	<hibernate-configuration configSource="Hibernate.config" />
	<!-- Tag que asocia la aplicacion con el string de acceso a base de dats-->
	<connectionStrings configSource="zConexiones\ConectionDB-DESA.config" />
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_LibreriaSeguridad" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://sistemas-desa.ec.gba.gov.ar/TGP.WSS/Seguridad.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_LibreriaSeguridad" contract="SRSeguridad.LibreriaSeguridad" name="BasicHttpBinding_LibreriaSeguridad" />
		</client>
	</system.serviceModel>
	<appSettings>
		<add key="Ambiente" value="localhost" />
		<add key="owin:AutomaticAppStartup" value="false" />
		<add key="webpages:Version" value="2.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="PreserveLoginUrl" value="true" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="Context" value="Web" />
		<add key="PublicServer" value="false" />
		<!--Version de la aplicacion-->
		<add key="version" value="1.0.0.RC0" />
		<!-- Fecha de ultima actualizacion de la aplicacion-->
		<add key="dateVersion" value="02-03-2023" />
		<!--para el ambiente interno le pongo la misma url de autorizaciones-->
		<!--WEB RESOURCES-->
		<!--<add key="WebResources" value="http://localhost/WebResources/" />-->
		<add key="PortalURL" value="http://localhost:54707/" />
		<!--Pagina de Login -->
		<add key="LoginURL" value="http://localhost:9474/Account/Login" />
		<add key="ResourcesDesign" value="C:/TGP-Proyectos/ResourceDesign/Trunk/" />
		<!-- Clave para buscar los token dentro de TGP_PARAMETRO-->
		<add key="NOMBRE_TOKEN" value="TOKEN_SSO" />
		<!-- Servidor en el cual esta corriendo la aplicacion-->
		<add key="serverLocation" value="localhost" />
		<!-- Datos para el envio de Mails, cuando la aplicacion falla -->
		<add key="SI_ENVIAR_EMAIL_ERROR" value="false" />
		<add key="EMAIL_FROM" value="portal@tesoreria.gba.gov.ar" />
		<add key="EMAIL_TO" value="aayala@tesoreria.gba.gov.ar,jsabatini@tesoreria.gba.gov.ar" />
		<add key="EMAIL_NETWORK_CREDENTIAL_USERNAME" value="portal" />
		<add key="EMAIL_NETWORK_CREDENTIAL_PASSWORD" value="" />
		<add key="EMAIL_SMPT" value="mailserver" />
		<add key="CLAVE_SERVICIO" value="3NlcKj5ESxPvyp2ykVDQrQ==" />
		<add key="CLAVE_WORKFLOW" value="87654321" />
		<!-- Fin Datos para envio de Mails -->
		<!--LOG4NET - configuracion -->
		<add key="URL_LOG4NET_CONFIG" value="log4net.xml" />
		<add key="ENVIRONMENT_LOG" value="_DEV" />
		<!--LOG4NET - configuracion -->
		<!-- API-GEDEBA URLS -->
		<!--<add key="GedebaExpedientes" value="https://localhost:55710/GetDatosGedeba" />
    <add key="GetUltimoPaseExpediente" value="https://localhost:55710/GetUltimoPaseExpediente" />
    <add key="consultarExpedientesPorSistemaOrigenLibreReparticion" value="https://localhost:55710/consultarExpedientesPorSistemaOrigenLibreReparticion" />
    <add key="ConsultarUsuario" value="http://localhost:55710/ConsultarUsuario" />
    <add key="GenerarPaseExpediente" value="http://localhost:55710/GenerarPaseExpediente" />
    <add key="bloquearExpediente" value="http://localhost:55710/bloquearExpediente" />-->
		<add key="sistema_api" value="https://sistemas-desa.ec.gba.gov.ar/api_gdeba/" />
		<add key="workflow" value="https://sistemas-desa.ec.gba.gov.ar/api_workflow/api/" />
		<add key="apircf" value="https://sistemas-desa.ec.gba.gov.ar/rcf_api/api/" />
		<add key="siep" value="https://sistemas-desa.ec.gba.gov.ar/api_siep/api/" />

		<add key="reparticionME" value="DPGYRDCFMEGP-PVD" />
		<add key="gdebaOrigen" value="ws_gdeba_hml_mhyf_portalmhyf" />
		<add key="descripcionTasa" value="RCF" />
		<add key="descripcionTasaRCFE" value="RCFE" />
		<add key="TesoreriaApi" value="https://sigafpbapreprod.tesoreria.gba.gov.ar" />
		<add key="CuitMinisterio" value="30643233343" />


	</appSettings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="es-AR" uiCulture="es-AR" />
    <compilation debug="true" targetFramework="4.6.2">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="30000" />
    <authentication mode="Forms">
      <forms name="appLogin" loginUrl="~/Account/Login" timeout="30" slidingExpiration="true" />
    </authentication>
    <machineKey validationKey="BD52058A3DEA473EA99F29418689528A494DF2B00054BB7C" decryptionKey="684FC9301F404DE1B9565E7D952005579E823307BED44885" validation="SHA1" decryption="Auto" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <sessionState mode="StateServer" stateConnectionString="tcpip=localhost:42424" cookieless="false" timeout="30" />
    <!--redireccion en caso de error-->
    <customErrors mode="Off" defaultRedirect="~/Home/Error" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules>
      <remove name="UrlRoutingModule-4.0" />
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.Identity.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Iesi.Collections" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IO.RecyclableMemoryStream" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.2.0" newVersion="2.3.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Xml" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.2.0" newVersion="1.8.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
