
<div class="uk-modal" id="modal_loading">
    <div class="uk-modal-dialog">
        <div class='uk-text-center'>
            <h3 class="heading_b uk-margin-large-bottom">
                Espere unos segundos...
            </h3>

            <div class="uk-flex uk-flex-center">
                <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                    <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
                </svg>
            </div>
        </div>
    </div>
</div>