@{
    ViewBag.Title = "RCF - Inicio";
    Layout = "~/Views/Shared/_Layoutbootstrap.cshtml";
}
<div class="uk-width-1-1">
    <div class="uk-flex uk-flex-center">
        @*<div class="tituloHome">
            RCF
        </div>*@

        <img src="~/ResourceDesign/Imagenes/provincia fondo.png" alt="Provincia Fondo" background-size="cover" height="500px" width="600px" background-position="center" >


    </div>
</div>
